
*{
    margin: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: rgb(229, 240, 75) ;
}

header{
    height: 100px;
    text-align: center;
    border-bottom: solid 4px #000;
}

header h1{
   padding-top: 32px; 
}

aside{
    float: left;
    width: 190px;
    padding: 10px;
    height: 100%;
    /* border-right: solid 2px #000; */
}

article{
    float: right;
    width: calc(100vw - 205px);
    padding: 10px;
    border-left: solid 2px #000;
}

aside, main h2{
    padding-bottom: 10px;
}

footer{
    border-top: solid 4px #000;
    height: 50px;
    clear: both;
}

footer p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 13px;
    
}
